<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <div class="header-button" >

                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">

                            <div class="content">
                                <a class="js-acc-btn" href="#">Evaluar el estado de los cursos montados en el Moodle de la Universidad de Holgu&iacute;n</a>
                            </div>
<!--                            <div class="account-dropdown js-dropdown">-->
<!--                                <div class="account-dropdown__footer">-->
<!--                                    <a href="/">-->
<!--                                        <i class="zmdi zmdi-power"></i>Auto</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>